<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Portfolio{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<nav class="bg-black text-white p-4 flex justify-between">
    <h1 class="text-xl font-bold">Rakesh Yadav</h1>
    <div>
        <a href="/" class="px-3 hover:text-yellow-400">Home</a>
        <a href="/projects/" class="px-3 hover:text-yellow-400">Projects</a>
        <a href="/contact/" class="px-3 hover:text-yellow-400">Contact</a>
        <a href="/about/" class="px-3 hover:text-yellow-400">About</a>

        {% if user.is_superuser %}
    <a href="/dashboard/" class="px-3">Dashboard</a>
{% endif %}


    </div>
</nav>

<div class="container mx-auto mt-10 px-4">
    {% block content %}{% endblock %}
</div>

<footer class="bg-black text-white text-center p-4 mt-10">
    © 2026 Rakesh Yadav
</footer>

</body>
</html>
